{
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": 2,
    "@typescript-eslint/explicit-module-boundary-types": 0
  }
}
